/**
 * partials/header
 * ---
 */
/* line 9, ../css/sass/partials/header.scss */
.topbar {
  background: transparent; }

/* line 14, ../css/sass/partials/header.scss */
.scroll {
  background: #f7f6f1 !important; }

/* line 18, ../css/sass/partials/header.scss */
.header {
  height: auto;
  padding: 0;
  margin: 0;
  top: 0;
  background: #f7f6f1; }
  /* line 26, ../css/sass/partials/header.scss */
  .header section {
    padding: 0;
    margin: 0 auto; }
  /* line 38, ../css/sass/partials/header.scss */
  .header .logo {
    padding: 0; }
  /* line 42, ../css/sass/partials/header.scss */
  .header .logo-img {
    height: 6rem;
    width: auto;
    position: relative;
    left: 2.4rem;
    top: 1.2rem; }
