/**
 * partials/wrapper
 * ---
 */
/**
 * Colors
 */
/**
 * Grid
 */
/* line 73, ../css/sass/partials/hero.scss */
.hero-part {
  background: url("img/bg3.svg") bottom right no-repeat, url("img/bg7.svg") top left no-repeat;
  height: 100vh;
  padding: 44vh 0 0 0; }
  /* line 81, ../css/sass/partials/hero.scss */
  .hero-part .hero-container .hero-second {
    color: #fb6d86 !important; }
  /* line 83, ../css/sass/partials/hero.scss */
  .hero-part .hero-container h1 {
    color: #6884c7;
    padding-bottom: 8rem;
    line-height: 12rem;
    max-width: 60rem;
    width: 100%;
    text-indent: -3.3em;
    -webkit-transform: translate(125px, 0px);
            transform: translate(125px, 0px); }
    @media screen and (min-width: 120rem) {
      /* line 83, ../css/sass/partials/hero.scss */
      .hero-part .hero-container h1 {
        font-size: 14.8rem; } }
    @media screen and (max-width: 120rem) {
      /* line 83, ../css/sass/partials/hero.scss */
      .hero-part .hero-container h1 {
        font-size: 10.8rem; } }
    @media screen and (max-width: 90rem) {
      /* line 83, ../css/sass/partials/hero.scss */
      .hero-part .hero-container h1 {
        font-size: 8.4rem; } }
    @media screen and (max-width: 64rem) {
      /* line 83, ../css/sass/partials/hero.scss */
      .hero-part .hero-container h1 {
        font-size: 6rem; } }
    @media screen and (max-width: 40rem) {
      /* line 83, ../css/sass/partials/hero.scss */
      .hero-part .hero-container h1 {
        font-size: 4.8rem; } }
