/**
 * partials/wrapper
 * ---
 */
/**
 * Colors
 */
/**
 * Grid
 */
/* line 73, ../css/sass/partials/hero.scss */
.hero-part {
  background: url("img/bg3.svg") bottom right no-repeat, url("img/bg7.svg") top left no-repeat;
  height: 100vh;
  padding: 25vh 0; }
  /* line 79, ../css/sass/partials/hero.scss */
  .hero-part .top-text {
    margin-top: 3.6rem; }
  /* line 81, ../css/sass/partials/hero.scss */
  .hero-part .hero-container .hero-second {
    color: #fb6d86 !important; }
  /* line 82, ../css/sass/partials/hero.scss */
  .hero-part .hero-container h1 {
    color: #6884c7; }
    @media screen and (min-width: 120rem) {
      /* line 82, ../css/sass/partials/hero.scss */
      .hero-part .hero-container h1 {
        font-size: 14.8rem;
        color: #6884c7;
        padding-bottom: 8rem;
        line-height: 11.8rem;
        width: 100%;
        text-indent: -26vh;
        -webkit-transform: translate(26vh, 0px);
                transform: translate(26vh, 0px);
        text-transform: none !important;
        padding: 0; } }
    @media screen and (max-width: 120rem) {
      /* line 82, ../css/sass/partials/hero.scss */
      .hero-part .hero-container h1 {
        font-size: 14.8rem;
        color: #6884c7;
        padding-bottom: 8rem;
        line-height: 11.8rem;
        width: 100%;
        text-indent: -26vh;
        -webkit-transform: translate(26vh, 0px);
                transform: translate(26vh, 0px);
        text-transform: none !important;
        padding: 0; } }
    @media screen and (max-width: 90rem) {
      /* line 82, ../css/sass/partials/hero.scss */
      .hero-part .hero-container h1 {
        font-size: 12rem;
        color: #6884c7;
        padding-bottom: 8rem;
        line-height: 10.6rem;
        width: 100%;
        text-indent: -26vh;
        -webkit-transform: translate(26vh, 0px);
                transform: translate(26vh, 0px);
        text-transform: none !important;
        padding: 0; } }
    @media screen and (max-width: 64rem) {
      /* line 82, ../css/sass/partials/hero.scss */
      .hero-part .hero-container h1 {
        font-size: 7.2rem;
        line-height: 6rem;
        font-size: 12rem;
        color: #6884c7;
        padding-bottom: 8rem;
        width: 100%;
        text-indent: -4vh;
        -webkit-transform: translate(4vh, 0px);
                transform: translate(4vh, 0px);
        text-transform: none !important;
        padding: 0; } }
    @media screen and (max-width: 40rem) {
      /* line 82, ../css/sass/partials/hero.scss */
      .hero-part .hero-container h1 {
        font-size: 6rem;
        line-height: 4.8rem;
        color: #6884c7;
        padding-bottom: 8rem;
        width: 100%;
        text-indent: -2vh;
        -webkit-transform: translate(2vh, 0px);
                transform: translate(2vh, 0px);
        text-transform: none !important;
        padding: 0; } }
