/**
 * partials/nav
 * ---
 * Menus
 */
/**
 * Colors
 */
/**
 * Grid
 */
/* line 53, ../css/sass/partials/nav.scss */
.hamburger {
  /*
   * Just a quick hamburger
   */
  /* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  /*
   * But let's hide the middle one.
   */
  /*
   * Ohyeah and the last one should go the other direction
   */
  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  /*
   * And let's slide it in from the left
   */ }
  @media screen and (min-width: 120rem) {
    /* line 53, ../css/sass/partials/nav.scss */
    .hamburger {
      width: 13.2rem;
      height: 8.4rem;
      position: fixed;
      display: block;
      background-color: #fff; } }
  @media screen and (max-width: 120rem) {
    /* line 53, ../css/sass/partials/nav.scss */
    .hamburger {
      width: 13.2rem;
      height: 8.4rem;
      position: fixed;
      display: block;
      background-color: #fff; } }
  @media screen and (max-width: 90rem) {
    /* line 53, ../css/sass/partials/nav.scss */
    .hamburger {
      width: 13.2rem;
      height: 8.4rem;
      position: fixed;
      display: block;
      background-color: #fff; } }
  @media screen and (max-width: 64rem) {
    /* line 53, ../css/sass/partials/nav.scss */
    .hamburger {
      width: 13.2rem;
      height: 8.4rem;
      position: fixed;
      display: block;
      background-color: #fff; } }
  @media screen and (max-width: 40rem) {
    /* line 53, ../css/sass/partials/nav.scss */
    .hamburger {
      width: 13.2rem;
      height: 8.4rem;
      position: fixed;
      display: block;
      background-color: #fff; } }
  /* line 108, ../css/sass/partials/nav.scss */
  .hamburger #menuToggle {
    display: block;
    position: fixed;
    top: 2.2rem;
    left: 1.6rem;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none; }
  /* line 121, ../css/sass/partials/nav.scss */
  .hamburger #menuToggle a {
    text-decoration: none;
    color: #232323;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease; }
  /* line 129, ../css/sass/partials/nav.scss */
  .hamburger #menuToggle a:hover {
    color: lotomato; }
  /* line 134, ../css/sass/partials/nav.scss */
  .hamburger #menuToggle label {
    position: absolute;
    font-size: 1.8rem;
    top: 1rem;
    left: 4.8rem; }
  /* line 142, ../css/sass/partials/nav.scss */
  .hamburger #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none; }
  /* line 162, ../css/sass/partials/nav.scss */
  .hamburger #menuToggle span {
    display: block;
    width: 36px;
    height: 4px;
    margin-bottom: 7px;
    position: relative;
    background: lotomato;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
  /* line 182, ../css/sass/partials/nav.scss */
  .hamburger #menuToggle span:first-child {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%; }
  /* line 187, ../css/sass/partials/nav.scss */
  .hamburger #menuToggle span:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%; }
  /* line 196, ../css/sass/partials/nav.scss */
  .hamburger #menuToggle input:checked ~ span {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-1px, 1px);
            transform: rotate(45deg) translate(-1px, 1px);
    background: #232323; }
  /* line 206, ../css/sass/partials/nav.scss */
  .hamburger #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2); }
  /* line 215, ../css/sass/partials/nav.scss */
  .hamburger #menuToggle input:checked ~ span:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(0, -1px);
            transform: rotate(-45deg) translate(0, -1px); }
  /* line 224, ../css/sass/partials/nav.scss */
  .hamburger #menu {
    position: absolute;
    width: 110vw;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    height: 110vh;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    -webkit-transform-origin: 10% 0%;
            transform-origin: 10% 0%;
    -webkit-transform: translate(-500vw, 0);
            transform: translate(-500vw, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
  /* line 243, ../css/sass/partials/nav.scss */
  .hamburger #menu li {
    padding: 10px 0;
    font-size: 2.2rem; }
  /* line 252, ../css/sass/partials/nav.scss */
  .hamburger #menuToggle input:checked ~ ul {
    -webkit-transform: none;
            transform: none; }

/* line 261, ../css/sass/partials/nav.scss */
.nav-top ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  /* line 263, ../css/sass/partials/nav.scss */
  .nav-top ul li {
    list-style: none; }
    /* line 266, ../css/sass/partials/nav.scss */
    .nav-top ul li a {
      font-size: 1.8rem;
      border: 1px solid transparent;
      padding: 1rem 2.4rem .7rem;
      border-radius: 5rem; }
      /* line 271, ../css/sass/partials/nav.scss */
      .nav-top ul li a:hover {
        text-decoration: none;
        color: lotomato;
        border: lotomato 1px solid; }

@media screen and (max-width: 40rem) {
  /* line 284, ../css/sass/partials/nav.scss */
  .nav-top ul {
    padding-left: 0; } }

@media screen and (min-width: 120rem) {
  /* line 318, ../css/sass/partials/nav.scss */
  .nav-top ul li {
    padding: 3.2rem 1.2rem 0; } }
@media screen and (max-width: 120rem) {
  /* line 318, ../css/sass/partials/nav.scss */
  .nav-top ul li {
    padding: 3.2rem 1.2rem 0; } }
@media screen and (max-width: 90rem) {
  /* line 318, ../css/sass/partials/nav.scss */
  .nav-top ul li {
    padding: 3.2rem 1.2rem 0; } }
@media screen and (max-width: 64rem) {
  /* line 318, ../css/sass/partials/nav.scss */
  .nav-top ul li {
    padding: 4.8rem 0 1.2rem; } }
@media screen and (max-width: 40rem) {
  /* line 318, ../css/sass/partials/nav.scss */
  .nav-top ul li {
    padding: 4.8rem 0 1.2rem; } }

@media screen and (min-width: 120rem) {
  /* line 356, ../css/sass/partials/nav.scss */
  .nav-top ul li a {
    padding: 1rem 2.4rem .7rem; } }
@media screen and (max-width: 120rem) {
  /* line 356, ../css/sass/partials/nav.scss */
  .nav-top ul li a {
    padding: 1rem 2.4rem .7rem; } }
@media screen and (max-width: 90rem) {
  /* line 356, ../css/sass/partials/nav.scss */
  .nav-top ul li a {
    padding: 1rem 2.4rem .7rem; } }
@media screen and (max-width: 64rem) {
  /* line 356, ../css/sass/partials/nav.scss */
  .nav-top ul li a {
    padding: 1rem 1.2rem .7rem; } }
@media screen and (max-width: 40rem) {
  /* line 356, ../css/sass/partials/nav.scss */
  .nav-top ul li a {
    padding: 1rem 1.2rem .7rem; } }

/* line 394, ../css/sass/partials/nav.scss */
.header--fixed {
  position: fixed;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  top: 0;
  left: 0; }

/* line 401, ../css/sass/partials/nav.scss */
.headroom--pinned {
  display: block;
  top: 0;
  left: 0; }

/* line 406, ../css/sass/partials/nav.scss */
.headroom--unpinned {
  top: -12rem; }

/* line 410, ../css/sass/partials/nav.scss */
.headroom {
  will-change: transform;
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear; }

/* line 414, ../css/sass/partials/nav.scss */
.headroom--pinned {
  -webkit-transform: translateY(0%);
          transform: translateY(0%); }

/* line 417, ../css/sass/partials/nav.scss */
.headroom--unpinned {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%); }
