/**
 * partials/wrapper
 * ---
 */
/**
 * Colors
 */
/**
 * Grid
 */
/* line 73, ../css/sass/partials/splash.scss */
.divided {
  padding: 6rem 0;
  border-top: #e5593f solid 1px;
  border-bottom: #e5593f solid 1px; }

/* line 80, ../css/sass/partials/splash.scss */
.faq {
  padding-top: 6rem; }

/* line 92, ../css/sass/partials/splash.scss */
.description-title {
  font-size: 2.2rem;
  background-color: #e5593f;
  line-height: 2.4rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-left: 1.2rem;
  color: #ffffff; }
  /* line 99, ../css/sass/partials/splash.scss */
  .description-title:hover {
    background-color: tomato;
    cursor: pointer; }

/* line 106, ../css/sass/partials/splash.scss */
.expand-collapse {
  float: right;
  margin-right: 1.2rem; }

/* line 110, ../css/sass/partials/splash.scss */
.description {
  font-size: 1.8rem;
  max-height: 0;
  overflow: hidden;
  margin-left: 0px;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out; }
  /* line 116, ../css/sass/partials/splash.scss */
  .description p {
    margin-top: .6rem; }

/* line 122, ../css/sass/partials/splash.scss */
.ghost-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 54rem; }
