/**
 * partials/wrapper
 * ---
 */
/**
 * Colors
 */
/**
 * Grid
 */
/* line 73, ../css/sass/partials/splash.scss */
.divided {
  padding: 6rem 0;
  border-top: #e5593f solid 1px;
  border-bottom: #e5593f solid 1px; }

/* line 80, ../css/sass/partials/splash.scss */
.faq {
  padding-top: 6rem; }

/* line 92, ../css/sass/partials/splash.scss */
.description-title {
  font-size: 26px;
  background-color: #379ab8;
  line-height: 55px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 2px;
  margin-bottom: 2px; }
  /* line 99, ../css/sass/partials/splash.scss */
  .description-title:hover {
    background-color: #7dafbe;
    cursor: pointer; }

/* line 105, ../css/sass/partials/splash.scss */
.expand-collapse {
  float: right;
  margin-right: 8px; }

/* line 109, ../css/sass/partials/splash.scss */
.description {
  font-size: 18px;
  max-height: 0;
  overflow: hidden;
  margin-left: 0px;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out; }
  /* line 115, ../css/sass/partials/splash.scss */
  .description p {
    margin-top: 4px; }

/* line 121, ../css/sass/partials/splash.scss */
.ghost-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 400px; }
