/**
 * partials/wordpress
 * ---
 * Wordpess core classes
 */
/**
 * Colors
 */
/**
 * Grid
 */
/**
 * Alignment
 */
/* line 46, ../css/sass/partials/wordpress.scss */
.alignnone {
  margin: 1.2rem 1.2rem 1.2rem 0; }

/* line 50, ../css/sass/partials/wordpress.scss */
.aligncenter {
  display: block;
  margin: 1.2rem auto; }

/* line 55, ../css/sass/partials/wordpress.scss */
.alignright {
  float: right;
  margin: 1.2rem 0 1.2rem 1.2rem; }

/* line 60, ../css/sass/partials/wordpress.scss */
.alignleft {
  float: left;
  margin: 1.2rem 1.2rem 1.2rem 0; }

/**
 * Gallery & images
 */
/* line 70, ../css/sass/partials/wordpress.scss */
.wp-caption {
  background: #f7f6f1;
  border: thin solid #F0F0F0;
  max-width: 95%;
  padding: 1.2rem 1.2rem;
  text-align: center; }
  /* line 77, ../css/sass/partials/wordpress.scss */
  .wp-caption img {
    width: auto;
    max-width: 98.5%;
    height: auto;
    border: 0 none; }

/* line 86, ../css/sass/partials/wordpress.scss */
.wp-caption .wp-caption-text,
.gallery-caption {
  margin: 0;
  padding: 0 1.2rem 1.2rem;
  font-size: 10px;
  line-height: 2.44rem; }
