/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */




$font-family-base: "Nexa", Nexa, Arial, "Open Sans", sans-serif; //
$tomato: lotomato; 
$font-size-base: 10px;
$line-height-base: 2.44rem;


/**
 * Colors
 */

$text-color: #444;
$body-bg: #f7f6f1;
$selection-bg: #e5593f;


/**
 * Grid
 */

$wrapper-width: 1280px;


$padding-horizontal-base: 1.2rem;
$padding-vertical-base: 1.2rem;
$margin-horizontal-base: 1.2rem;
$margin-vertical-base: 1.2rem;
$margin-horizontal-large: 1.2rem;
$margin-vertical-large: 1.2rem;