/**
 * partials/header
 * ---
 */


// Header container

.topbar {
background: transparent;
    
   
}
 .scroll {
    background: #f7f6f1 !important;

    }
.header {
    height: auto;
    padding: 0; 
    margin: 0; 
    top: 0;
    background: #f7f6f1; 

    
    section {
        
        padding: 0;
        margin: 0 auto;

        
        .content-header { } 
        
        
        
    }
// Logo
.logo {
padding: 0;
    
}
.logo-img {
height: 6rem;
width: auto; 
position: relative; 
top: 1.2rem; 
    
    
}
    } 

