/**
 * partials/wordpress
 * ---
 * Wordpess core classes
 */



$font-family-base: "Nexa", Nexa, Arial, "Open Sans", sans-serif; //
$tomato: lotomato; 
$font-size-base: 10px;
$line-height-base: 2.44rem;


/**
 * Colors
 */

$text-color: #444;
$body-bg: #f7f6f1;
$selection-bg: #e5593f;


/**
 * Grid
 */

$wrapper-width: 1280px;


$padding-horizontal-base: 1.2rem;
$padding-vertical-base: 1.2rem;
$margin-horizontal-base: 1.2rem;
$margin-vertical-base: 1.2rem;
$margin-horizontal-large: 1.2rem;
$margin-vertical-large: 1.2rem;

.sticky {}

.bypostauthor {}

/**
 * Alignment
 */

.alignnone {
  margin: $margin-vertical-base $margin-horizontal-large $margin-vertical-large 0;
}

.aligncenter {
  display: block;
  margin: $margin-vertical-base auto;
}

.alignright {
  float: right;
  margin: $margin-vertical-base 0 $margin-vertical-large $margin-horizontal-large;
}

.alignleft {
  float: left;
  margin: $margin-vertical-base $margin-horizontal-large $margin-vertical-large 0;
}


/**
 * Gallery & images
 */

.wp-caption {
  background: $body-bg;
  border: thin solid #F0F0F0;
  max-width: 95%;
  padding: $padding-horizontal-base $padding-vertical-base;
  text-align: center;

  & img {
    width: auto;
    max-width: 98.5%;
    height: auto;
    border: 0 none;    
    }
}


.wp-caption .wp-caption-text,
.gallery-caption {
  margin: 0;
  padding: 0 $padding-horizontal-base $padding-vertical-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
}
