
.bg-solar {
    

        
@media screen and (min-width: $lg-max) {

    background-image: url('img/solar-roof.jpg');
    background-size: cover;
    background-position: 60vw top; 
    background-repeat: no-repeat; 

    }
    
@media screen and (max-width: $lg-max) {
               
    background-image: url('img/solar-roof.jpg');
    background-size: cover;
    background-position: 60vw top; 
    background-repeat: no-repeat; 


  }
  

@media screen and (max-width: $md-max) {
    background-image: url('img/solar-roof.jpg');
    background-position: 60vw top; 
    background-repeat: no-repeat;
    background-size: cover;


}

    
@media screen and (max-width: $sm-max) {
    background-image: url('img/solar-roof.jpg');
    background-position: 0 -10vh; 
    background-repeat: no-repeat;
        background-size: contain;




        }

    
  @media screen and (max-width: $xs-max) {
    background-image: url('img/solar-roof.jpg');
    background-position: 0 -10vh; 
    background-repeat: no-repeat;
        background-size: contain;

  }
        
    }

.bg-community {
    

        
@media screen and (min-width: $lg-max) {

    background-image: url('img/mtns.jpg');
    background-size: cover;
    background-position: 60vw top; 
    background-repeat: no-repeat; 

    }
    
@media screen and (max-width: $lg-max) {
               
    background-image: url('img/mtns.jpg');
    background-size: cover;
    background-position: 60vw top; 
    background-repeat: no-repeat; 


  }
  

@media screen and (max-width: $md-max) {
    background-image: url('img/mtns.jpg');
    background-position: 60vw top; 
    background-repeat: no-repeat;
        background-size: cover;




}

    
@media screen and (max-width: $sm-max) {
    background-image: url('img/mtns.jpg');
    background-position: 0 -10vh; 
    background-repeat: no-repeat;

        background-size: contain;



        }

    
  @media screen and (max-width: $xs-max) {
    background-image: url('img/mtns.jpg');
    background-position: 0 -10vh; 
    background-repeat: no-repeat;
        background-size: contain;

  }
        
    }   
.bg1 {
    
    background-image: url('img/bg1.svg');
    background-size:  contain;
    background-position: center left; 
    background-repeat: no-repeat; 
}

.bg2 {
    
    background-image: url('img/bg2.svg');
    background-size:  contain;
    background-position: center right; 
    background-repeat: no-repeat; 
}
.bg3 {
    
    background-image: url('img/bg3.svg');
    background-size:  contain;
    background-position: bottom right; 
    background-repeat: no-repeat; 
}
.bg4 {
    
    background-image: url('img/bg4.svg');
    background-size:  contain;
    background-position: bottom left; 
    background-repeat: no-repeat; 
}
.bg5 {
    
    background-image:  url('img/bg5.svg');
    background-size:  contain;
    background-position: center left; 
    background-repeat: no-repeat; 
}
.bg6 {
    
    background-image: url('img/bg6.svg');
    background-size:  contain;
    background-position: top right; 
    background-repeat: no-repeat; 
}
.bg7 {
    
    background-image: url('img/bg7.svg');
    background-size:  contain;
    background-position: top left; 
    background-repeat: no-repeat; 
}
.bg8 {
    
    background-image: url('img/bg8.svg');
    background-size:  contain;
    background-position: bottom center; 
    background-repeat: no-repeat; 
}
.bg9 {
    
    background-image: url('img/bg9.svg');
    background-size:  contain;
    background-position: top center; 
    background-repeat: no-repeat; 
}
.bg10 {
    
    background-image: url('img/bg10.svg');
    background-size:  contain;
    background-position: center center; 
    background-repeat: no-repeat; 
}
.bg11 {
    
    background-image: url('img/bg11.svg');
    background-size:  contain;
    background-position: center right; 
    background-repeat: no-repeat; 
}

.bg12 {
    
    background-image: url('img/bg12.svg');
    background-size:  contain;
    background-position: center center; 
    background-repeat: no-repeat; 
}

.bg-blue {
        background: linear-gradient(90deg, rgba(247,246,241,1) 75%, rgba(2,0,36,1) 75%);

}

.bgred {
    
    
    ::selection {
        background: #fff;
        color: $tomato; 
    }
    
    background-color: $tomato; 
    
    h1,h2,h3,h4,h5,h6,p,ol,li,ul {
        color: #fff; 
    }
    
    
    
    
    a {
        color: $tomato;
        background: #fff; 
        
        &:hover {
            border: 1px solid #fff; 
            color: #fff; 
        }
    }

    
    .glightbox3 {
        &:hover {
            border: none !important; 
        }
    }
    .overtext {
        margin-bottom: -3.8rem;
        padd-top: 1rem; 
        font-size: 1.2rem; 
    }
    
}


.bgdarkred {
    min-height: 12rem;
    height: auto; 
    background: #b23620; 
    
    .row {
            padding-top: 2.7rem;

    }
    
    ::selection {
        background: #fff;
        color: #b23620; 
    }
    
    background-color: #b23620; 
    
    h1,h2,h3,h4,h5,h6,p,ol,li,ul {
        color: #fff; 
    }
    
    h2 {
        padding-top: .3rem;
    }
    
    
    a {
        color: #b23620;
        background: #fff; 
        
        &:hover {
            border: 1px solid #fff; 
            color: #fff; 
            background: transparent; 
        }
    }
    

}



.middle-line {
    
    background-image: url('img/middle-line.svg'); 
    background-repeat: repeat-y;
    background-position: center center; 
    background-size: 3px 3px; 
    
    .widget_block {background: #f7f6f1; padding: 0 1.2rem; }
    
    .btn-wrap {
        paddding-left: 1.4rem;
    }
    
    img {
        text-align: center; 
        background: #f7f6f1; 
        padding: 1.2rem; 
    }
    
    .btn  {
        max-width: 40rem;
        width: 100%; 
        margin-left: 1.2rem; 
        background: #f7f6f1;
        &:hover {
            background: $tomato; 
        }
        
    }
}
