// hubspot 
.hs-form-iframe {
    
    iframe, html, body, div, .hs-richtext, .hs-main-font-element {
    font-family: "Nexa", Helvetica, Arial, sans-serif !important;

    } 

.hbspt-form {
    
         font-family: "Nexa", Helvetica, Arial, sans-serif !important;

    
        p, .hs-richtext {
            font-family: "Nexa", Helvetica, Arial, sans-serif !important; color: #fff; font-size: 1.8rem;
    }
    
    label {
        font-family: "Nexa", Helvetica, Arial, sans-serif !important; color: #fff; font-size: 1.8rem;
}
    
.hs-input {
        font-family: "Nexa", Helvetica, Arial, sans-serif !important; color: #fff; font-size: 1.8rem;
    }
    
    .input {
        input 
            {font-family: "Nexa", Helvetica, Arial, sans-serif !important; color: #fff; font-size: 1.8rem;}
            
        
    }
    
}
.actions {
        font-family: "Nexa", Helvetica, Arial, sans-serif !important;
        
        input {
        
        border-radius: 5rem !important; 
        
    }
}
}

