.hs-richtext, .hs-main-font-element {
    
 
        font-family: "Nexa", Helvetica, Arial, sans-serif !important; color: #fff;
        
   
}
 

#hs-form-iframe-0 {
    body {
                font-family: "Nexa", Helvetica, Arial, sans-serif !important; 
        
        p { 
        color: #fff !important;}

    }
}


